<html>
	<header>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	</header>

	<body>
		<div class="container">

			<div class="text-center" id="logo">

			</div>

			<div style="margin-top: 5vh" >
				<form action="upload" method="post" enctype="multipart/form-data" >

					<div class="form-group row">
						<div class="col">
							<div class="custom-file">
								<input type="file" class="custom-file-input" id="file-input" name="file-input" multiple="multiple">
								<label class="custom-file-label" for="file-input">Choose your model and textures...</label>
							</div>
						</div>
					</div>

					<div class="form-group row">
						<div class="col">
							<input type="text" class="form-control" id="folder" name="folder" placeholder="Folder">
						</div>

						<h2>/</h2>
					
						<div class="col">
							<input type="text" class="form-control" id="modelName" name="modelName"  placeholder="Model Name">
						</div>
					</div>

					<div class="row-lg">
						<div class="text-center">
							<input type="submit" class="btn btn-success font-weight-bold btn-sx" value="Upload">			
						</div>
					</div>
			</form>	
			</div>
		</div>
	</body>
</html>